<!--footer-->
<link rel="stylesheet" href="Content\app.css">
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">Copyright © 2024 Umad Akram. All Rights Reserved.</h6>
    </nav>
    </footer>
</body>
</html>