<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!-- About Us Page -->
<link rel="stylesheet" href="/Content/aboutus.css">
<main class="container about-section">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">About Us</h1> 
            <section class="introduction">
                <p>Welcome to J's Agency, we turn regular people into models, and existing models into better ones.</p>
            </section>

            <section class="importance">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Who are we</h2>
                        <p>Modelling is more than what just meets the eye. It tells a story of fashion and personality. We show that no matter who you are, you can shine</p>
                        <ul>
                            <li><strong>Experience:</strong> Our free consultations allow you to grab portfolio pictures for an entry to the modelling scene.</li>
                            <li><strong>Connections:</strong> Having a strong list of agents on call, our connections allow you to really have a chance in the industry.</li>
                            <li><strong>Benefits:</strong> With our MOT program, we provide insurance and health benefits to all who model with us.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="/Assets/images/image1.jpg" alt="Importance of Financial Security" class="img-fluid">
                    </div>
                </div>
            </section>

            <section class="risks">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/Assets/images/analysis-g2725a2fda_640.jpg" alt="Risks of Neglecting Financial Security" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h2>The Risks of Neglecting Financial Security</h2>
                        <p>Ignoring your financial health can have serious repercussions. Here are some risks of neglecting financial security:</p>
                        <ul>
                            <li><strong>Debt Accumulation:</strong> Without proper financial planning, you may find yourself relying on credit and accumulating unmanageable debt.</li>
                            <li><strong>Stress and Anxiety:</strong> Financial instability can lead to significant stress and anxiety, affecting your overall well-being and quality of life.</li>
                            <li><strong>Missed Opportunities:</strong> Without savings or a financial plan, you might miss out on important opportunities like investments, further education, or starting a business.</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<%- include Partials/footer.ejs%>
