<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<main class="container-fluid">
    <div class="homepage-banner">
        <img src="Assets/images/finanical_secuiry.jpg" class="centered-image" alt="Finance Background">
        <div class="banner-text">
            <h1>Smart Tracking for a Safer Tomorrow.</h1>
        </div>
    </div>
    <section class="quotes-section">
        <h2>Testimonies from fellow users!</h2>
        <div class="quote">
            <p>"I never thought managing my finances could be this simple. With clear guidance, I’ve saved <br> more in six months than I did in the past two years!" - Ali Munawar</p>
        </div>
        <div class="quote">
            <p>"This changed everything for me. I’ve gone from paycheck-to-paycheck stress to confidently planning my dream vacation <br> and it’s actually happening!" - Prashath Perablem</p>
        </div>
        
        <div class="quote">
            <p>"This is the first time in my life, I've had more then $50 in my bank account!" - Afroz Akram</p>
        </div>
        <div class="quote">
            <p>"I was overwhelmed by debt and didn’t know where to start. Now, I have a clear plan, and for the first time in years, <br> I feel in control of my money." - Kim Min-ji</p>
        </div>
    </section>
</main>
<%- include Partials/footer.ejs%>
