/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa5b;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

/* Container for the main content */
.container {
    max-width: 1200px; /* Adjusted for more space */
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #bd2130;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: px;
}

table th, table td {
    padding: 15px;
    text-align: left; 
}

table th {
    background-color: #007bff;
    color: #ffffff;
    border-bottom: 2px solid #dee2e6;
}

table td {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dee2e6;
}

table tr:hover td {
    background-color: #e9ecef;
}


.col-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-3 {
    flex: 0 0 30%;
    max-width: 30%;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 20px auto;
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    table th, table td {
        padding: 10px;
        font-size: 0.9rem;
    }

    .btn {
        font-size: 14px;
        padding: 10px 15px;
    }
}
